server {
    listen 80;
    listen [::]:80;
    server_name ${PANEL_DOMAIN} ${SUBSCRIPTION_DOMAIN} ${AUTH_PORTAL_DOMAIN};

    location ^~ /.well-known/acme-challenge/ {
        root /var/www/lumen-acme;
        default_type text/plain;
        try_files $uri =404;
    }

    location / {
        return 301 https://$host$request_uri;
    }
}

